html {
  font-size: 62.5%;
}

body {
  font: 300 11px/1.4 "Helvetica", Arial, sans-serif;
  background: #dddddd !important;

  &.overflow-hidden {
    overflow: hidden;
  }

  .container {
    max-width: 95%;

    @media (min-width: 992px) {
      max-width: 1060px;
    }
  }
}