
$secondaryColor: #000;
$primaryColor: #b20000;

// Small Smartphones (portrait view)
$screen-xs-min: 320px;

// Small Smarphones and Large smartphones(portrait view)
$screen-xsm-min: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
